@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
}

.quick-apply-container {
    padding: 1rem;
    display: flex;
    overflow-y: auto;
    min-width: 768px;
    min-height: 98vh;
    max-height: 98vh;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.quick-apply-header {
    font-size: 36px;
}

.list-container {
    overflow: auto;
    max-height: 680px;
    flex-grow: 1;
}

.form-container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.cv-upload-form,
.text-input-form {
    min-width: 736px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-upload-form button,
.text-input-form button {
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="file"],
input[type="text"] {
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}